*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar
{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}



/* BOX 1 START */
.nav-logo
{
    height: 50px;
    width: 100px;
}
.logo
{
    background-image: url(Images/amazon.webp);
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* BOX 1 END */



.border
{
    border: 1.5px solid transparent;
}

.border:hover
{
    border: 1.5px solid white;

}



/* BOX 2 :start */


.address-first
{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}

.address-second
{
    margin-left: 3px;

}

.address-icon
{
    display: flex;
    align-items: center;
}
/* BOX 2 END */



 /* BOX 3 START */

 

/* BOX 3 END */